<!-- wp:template-part {"slug":"header","tagName":"div","className":"sk-header-part"} /-->

<!-- wp:group {"tagName":"main","className":"sk-main sk-page","layout":{"type":"default"}} -->
<main class="wp-block-group sk-main sk-page"><!-- wp:group {"className":"sk-container sk-page__head","layout":{"type":"default"}} -->
<div class="wp-block-group sk-container sk-page__head"><!-- wp:skyra/breadcrumbs /-->

<!-- wp:post-title {"level":1,"className":"sk-page__title"} /-->

<!-- wp:post-excerpt {"className":"sk-page__lead","moreText":""} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"},"className":"sk-page__content"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div","className":"sk-footer-part"} /-->
